<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiagnosticApps.Properties.Settings.DiagnosticDBConnectionString"
            connectionString="Data Source=MDALAMIN-PC;Initial Catalog=DiagnosticCenterDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DiagnosticApps.Properties.Settings.DiagonesticDbConnectionString"
            connectionString="Data Source=PROSANTO-PC;Initial Catalog=DiagonesticDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>